@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.nav{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    height: 60px;
    width: 200px;
    background: url("assets/logo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
}
.buynow {
    height: 40px;
    width: 100px;
    background-color: #0070cc;
    justify-content: flex-end;
    margin-right: 100px ;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 16px;

}
.buynow:hover{
    background-color: #064f98db;
}

.hero-img{
    height: 500px;
    width: 100%;
    background: url("assets/hero.webp") center no-repeat ;
    background-size: cover;
}
.ps5{
    height: 120px;
    width: 500px;
    background: url("assets/logo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter:invert(100%);
    position: absolute;
    top: 30%;
    left: 4%;
}
.content p{
    position: relative;
    top:-200px;
    left: 90px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.section1-content{
    text-align: center;
    padding: 10px 20%;
}
.section1-content h1{
    font-size: 35px;
    padding-top: 20px;
}
.section1-content p{
    font-size: 18px;
    padding-top: 30px;
}
.section1-img{
    height: 400px;
    width: 100%;
    background: url("assets/section1.png") center no-repeat;
    background-size: cover;
}

@media  (max-width:600px) {
    .nav .logo{
        margin-left: 10px;
        height: 40px;
        width: 150px;
    }
    .buynow{
        margin-right: 10px;
        font-size: 14px;
    }
    .hero-img{
        height: 450px;
        width: 100%;
        background: url("assets/response-hero.png") center no-repeat;
        background-size: cover;
    }
    .hero-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .ps5 {
        position: static;
        height: 80px;
        width: 310px;
        background: url("assets/logo.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter:invert(0);
        margin: 25px 0;
    } 
    .content p {
        color: black;
        position: static;
        font-size: 1.125rem;
        padding: 0 10px;
        text-align: center;
        margin: 12px 0;
    }

    /* Section-1 */
    .section1{
        height: 300px;
    }
    .section1-content{
        text-align: center;
        padding: 10px 0;
    }
    .section1-content h1{
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
        font-weight: bolder;
    }
    .section1-content p{
        font-size: 16px;
        padding: 20px 14px;
    }
    .section1-img{
        height: 300px;
        width: 100%;
        background: url("assets/section1.png") center no-repeat;
        background-size: contain;
    }
}